@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* GLOABL VARIABLES */

:root {
  --font-xs: 0.875rem;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 3rem;

  --gap-keypad: 0.75rem;

  --theme-background: rgb(216, 212, 212);
  --theme-matt-black: rgb(20, 20, 20);
  --theme-pure-black: rgb(3, 3, 3);
  --theme-light-grey: rgb(192, 189, 189);
  --theme-dark-grey: rgb(128, 128, 128);
  --theme-orange: rgb(220, 84, 47);
  --theme-label-light: rgb(245, 245, 240);
  --theme-label-dark: rgb(45, 45, 45);
  --theme-highlight: 240, 240, 240;

  --shadow-button: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.15),
    0.1rem 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0.1rem 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.7),
    0.2rem 0.2rem 0.5rem 0 rgba(240, 240, 240, 0.15) inset,
    0.1rem 0.1rem 0.2rem 0.1rem rgba(240, 240, 240, 0.05) inset;

  --shadow-button-clicked: 0.1rem 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.2),
    0.2rem 0.2rem 0.5rem 0 rgba(240, 240, 240, 0.15) inset,
    0.1rem 0.1rem 0.2rem 0.1rem rgba(240, 240, 240, 0.05) inset;

  --shadow-screen: 0.3rem 0.6rem 0.5rem 0 rgba(0, 0, 0, 0.15),
    0.1rem 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4),
    0.1rem 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.5),
    0rem 0rem 0.02rem 0.4rem rgba(240, 240, 240, 0.04) inset;

  --border-button: 0.05rem solid rgba(var(--theme-highlight), 0.4);
}

body {
  font-family: 'Sometype Mono';
  background-color: var(--theme-background);
}

/* PAGE STRUCTURE */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

header,
footer {
  height: 4rem;
  justify-content: center;
}

main {
  flex-grow: 1;
}

/* CALCULATOR DESIGN */
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.calc-head {
  padding: 2rem 0 1.5rem 0;
}

.model {
  padding: 0.3rem;
  font-size: var(--font-xs);
}

.screen {
  height: 8rem;
  background-color: var(--theme-matt-black);
  color: var(--theme-label-light);
  box-shadow: var(--shadow-screen);
  border: var(--border-button);
  overflow: hidden;
  position: relative;
}

.glare {
  border-left: 10rem solid rgba(210, 210, 210, 0.05);
  border-bottom: 11rem solid transparent;
  filter: blur(1px);
  position: absolute;
  z-index: 20;
}

.screen-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.interface-text {
  font-family: 'VT323', monospace;
  font-size: var(--font-xl);
  color: var(--theme-light-grey);
  overflow: hidden;
  max-width: 14ch;
  white-space: nowrap;
}

.pad-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap-keypad);
  height: fit-content;
  width: fit-content;
}

.pad-num-grid {
  grid-row: 2 / 6;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: var(--gap-keypad);
}

.pad-cmd {
  grid-column: 1 / 4;
}

.pad-num-row,
.pad-cmd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-keypad);
}

.pad-operators {
  grid-column: 4 / 5;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
  gap: var(--gap-keypad);
}

.btn-socket {
  width: 5rem;
  height: 5rem;
  background-color: var(--theme-pure-black);
  border-radius: 0.2rem;
  padding: 0.1rem;
  display: flex;
}

.btn-socket.long {
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
}

.btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.2rem 0 0;
  background-color: var(--theme-light-grey);
  color: var(--theme-label-dark);
  font-size: var(--font-lg);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0.6rem;
  border-top: var(--border-button);
  border-left: var(--border-button);
  box-shadow: var(--shadow-button);

  &&:hover {
    cursor: pointer;
  }

  &&:active {
    box-shadow: var(--shadow-button-clicked);
    /* font-size: calc(var(--font-lg) * 0.98); */
    transform: scale(0.99);
  }

  &&.orange {
    background-color: var(--theme-orange);
    color: var(--theme-label-light);
  }

  &&.grey {
    background-color: var(--theme-dark-grey);
    color: var(--theme-label-light);
  }

  &&.black {
    background-color: var(--theme-matt-black);
    color: var(--theme-label-light);
  }
}

.pad-num-grid .btn {
  background-color: var(--theme-matt-black);
  color: var(--theme-label-light);
}
